*{
	border: 1px dashed #00E5EE;
	color: yellow;
}

html { 
  /*background: url("http://40.media.tumblr.com/aa0823436e400c39d0a6bdbb7999a7f4/tumblr_mv2ndwBfNn1qbrs6lo1_1280.jpg") no-repeat center center fixed; */
  background: url("https://41.media.tumblr.com/3ee7654b4a5f1627056635c1834d2560/tumblr_nekekgHrTN1qbrs6lo1_1280.jpg") no-repeat center center fixed;
  background-size: 70% 100%;
  background-color: black;
}
/*
body{ 
	background-color: #007fff;
	background-image: url("http://segaretro.org/images/4/43/AladdinII_title.png");
	background-position: 100%;
	background-repeat: no-repeat;
}
*/
body.endscreen{
	background-color: #aabbcc;
}

h2{
	display: inline-block;
}
/* issues to fix = div are block by default and img are inline by default - was simply a padding issue

http://www.w3schools.com/css/css_display_visibility.asp
 */

.a, .b, .c, .d, .e, .f, .g, .h, .riki{
width:80px;
height:80px;
position:fixed; /*issue - all images move in a defined range but this range is set from their starting point- with position relative all are spread out so those closest to the edge of the div move outside it as it is still in their range */
/* could just change it back to a window game and put position as fixed*/
margin:20px;
border-radius: 50%;
align-content:center;
border: 2px solid yellow;
}

/*div#instructionScreen{
	/*display:none;*/	
/*	position: relative;
}*/

div#instructionScreen{
	background: url("https://41.media.tumblr.com/79ae118c6c671b65727c90e7eed57c7f/tumblr_muv9xc8plU1qbrs6lo1_540.jpg");
	height: 400px;
	width: 40%;
	margin: 0 auto;
	margin-top: 10%;
	border: 2px double yellow;
	position:relative;
}

/* TO DO 
https://css-tricks.com/the-blur-up-technique-for-loading-background-images/
Make all images link from internet - accesible from online */

div p{
	position:absolute;
	text-align: center;
	bottom: 0;
	display:inline;
	color: red;
	background-color: black;
	padding: 0 40%;
}

div button{
	position: relative;
	margin-bottom: 20% 10%;
}

div.ScoreBoard{
	height: 400px;
	width: 400px;
	margin: 100px auto;
	border: 2px double red;
}


div.score{
	display:none;
}
/*
  need to prepend as div needs to be placed at top of screen 
	so get rid of the div at start and then make it from javascript	
	when - want it to be created at end of game - so when timer ends
*/

div.endScreenShow{
	height: 400px;
	width: 400px;
	margin: 100px auto;
	border: 2px double yellow;
}
*/
/*this doesnt get crossed out in inspector but doesnt bring image inside div outlines either*/

button{
	margin:0 auto;
	width: 200px;
	height: 50px;
}

/* make class in html and then style it - set display as none - then set to fadeIn and toggleClass to blur other shit */





