div.column{

	width: 100%; /*percentage widths are great for responsiveness*/
	height: 500px;
	background-color: #FF00BC;
	margin: 0 auto;
}

div.mobileColumn{

	width: 100%; /*percentage widths are great for responsiveness*/
	height: 500px;
	background-color: #AABBCC;
	margin: 0 auto;
	display:none;
}



/*applying styling for anything upto with max-width 640px*/
/* can set condtions between points using max and min*/
@media only screen and (max-width: 1200px) and (min-width:800px){

	div.column {

		display:none;

	}

	div.mobileColumn{

		display:block;

	}


}

ul.menu{
	list-style: none;
	margin:5px;
	padding:0px;
}

/*how you select elements within element */
ul.menu li {

	display: inline-block;
	/*inline-block as we can mess with box model set to block elements*/
	margin-right:10px;
}

ul.hamburger li img{

	width: 50px;
	height:50px;
	list-style:none;

}

ul.hamburger{
	list-style: none;
}

@media only screen and (max-width: 640px){

	ul.hamburger li{
		display:inline-block;
	}

}












